In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import nltk

In [2]:
#

In [3]:
df = pd.read_csv('songdata.csv')

In [4]:
df.head(3)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \nAnd..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \nTouch me gentl..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \nWhy I had t...

In [5]:
df.shape

(57650, 4)

In [6]:
df = df.sample(n=5000).drop('link',axis=1).reset_index(drop=True)

In [7]:
df.head(3)

,artist,song,text
0,Marillion,Sounds That Can't Be Made,Sounds that can't be made \n \nOne day'll pl...
1,Extreme,Tell Me Something I Don't Know,"Sun going up, \nMaking its rounds \nIt keeps..."
2,Bryan White,Everywhere I Turn,On the front page of the paper \nSpeeding win...

In [8]:
df['artist']

0            Marillion
1              Extreme
2          Bryan White
3        Guns N' Roses
4       Tragically Hip
             ...
4995             Sting
4996      Taylor Swift
4997            Primus
4998      Lana Del Rey
4999            Prince
Name: artist, Length: 5000, dtype: object

In [9]:
df['text'] = df['text'].str.lower().replace(r'[^a-zA-Z0-9]','').replace(r'\n',' ',regex=True)

In [10]:
import nltk
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

steamin =[]
def stem(content):
    token = nltk.word_tokenize(content)
    steamin = [ps.stem(word) for word in token]
    return " ".join(steamin)

In [11]:
df['text'] = df['text'].apply(lambda x: stem(x))

In [12]:
df['text']

0       sound that ca n't be made one day 'll play you...
1       sun go up , make it round it keep on move , pa...
2       on the front page of the paper speed window of...
3       she 's got a smile that it seem to me remind m...
4       you do the combat math , i 'm the war artist y...
                              ...
4995    in europ and america there 's a grow feel of h...
4996    i still rememb the look on your face lit throu...
4997    mrs. blaileen - she wa a sixth grade teacher a...
4998    the other woman find time to manicur her nail ...
4999    thi is it it 's time for you to go to the wire...
Name: text, Length: 5000, dtype: object

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [14]:
Tifid = TfidfVectorizer(stop_words='english')
matrix = Tifid.fit_transform(df['text'])

In [25]:
similarity= cosine_similarity(matrix)

In [26]:
similarity[0]

array([1.        , 0.02724371, 0.04612205, ..., 0.01223663, 0.01495313,
       0.01114682])

In [27]:
distance = sorted(list(enumerate(similarity[0])),reverse=False,key=lambda x:x[1])

In [49]:
def recomended(song):

    df[df['song']==song].index[0]
    distance = sorted(list(enumerate(simliratiy[0])),reverse=False,key=lambda x:x[1])
    songs = []
    for i in distance[1:10]:
        songs.append(df.iloc[i[0]].song)
    return songs

In [53]:
recommendation('Sounds That Can't Be Made')

SyntaxError: unterminated string literal (detected at line 1) (3017295706.py, line 1)

In [29]:
import pickle
pickle.dump(df,open('df.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))